.App {
  text-align: center;
}

.navbar-container {
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-items {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

li {
  margin-top: 30px;
}

a {
  content: "";
  
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  transition: all 0.3s ease;
}

a::after{
  
  content: '';
  display: block;
  background-color: #000000;
  height: 3px;
  width: 0;

  margin-left: 10px;
  margin-top: 5px;
  
 
  transition: 0.3s;
}
a:hover{
  color: #000000;
  cursor:pointer;
}
a:hover::after{
  width: 100%;
  opacity: 1;
}

.logo {
  width: 150px;
  margin-top: -30px;
}

.home-vid {
  width: 90vw;
  height: auto;
  border-radius: 25px;
  margin-left: 5vw;
}

.training-reasons {
  display: flex;
  justify-content: center;
  margin-left: 1vw;
  
}


.training-reasons img{
  height: auto;
  width: 25vw;
  padding: 50px;
  border-radius: 75px;
  
}

.quote {
  position: relative;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #333;
  margin: 2rem 0;
  padding: 1rem;
  border-left: 5px solid #ccc;
}

.quote p {
  margin: 0;
}

.quote::before {
  content: '\201C'; 
  position: absolute;
  font-size: 3rem;
  color: #ccc;
  top: -1.5rem;
  left: -0.5rem;
}

.quote::after {
  content: '\201D'; 
  position: absolute;
  font-size: 3rem;
  color: #ccc;
  bottom: -1.5rem;
  right: -0.5rem;
}


.quote-container {
  width: 90vw;
  margin-left: 5vw;
}

.quote cite {
  display: block;
  text-align: right;
  margin-top: 1rem;
  font-size: 1rem;
  color: #999;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}